<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NumberLand</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <!-- owl swiper -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Aos libraries -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body class="body">
    <div class="preload">
      <div class="spinners"></div>
    </div>
    <div class="first-container">
      <nav class="nav-bar" id="nav-top">
        <div class="icon-div">
          <i class="fa-solid fa-bars-staggered" id="bar"></i>
        </div>
        <div class="logo-box">
          <a href="index.html">
            <img src="/images/Numberland.png" alt="">
          </a>
        </div>
        <div>
          <ul>
            <a href="/">
              <li>Home</li>
            </a>
            <a href="#">
              <li>Resources</li>
            </a>
            <a href="#">
              <li>Solutions</li>
            </a>
          </ul>
         
          <a href="/login">
            <button class="login-btn">Login</button>
          </a>
        </div>
        <div class="sidenav" id="mySidenav">
          <span class="fa-solid fa-xmark" id="closeNav"></span>
          <a href="index.html">Home</a>
          <a href="#" style="color: #FCE22A;">Resources</a>
          <a href="#" style="color: #833AB4;">Solutions</a> <br>
          <a href="/login" style="color: #D61355;">Login</a>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <div class="first-h1" style="text-align: center; font-size: 40px;">
        <h2>Explore the Adventures in <span class="word-1">Num</span>ber<span class="word-2">Land</span>
        </h2>
        <br>
        <p style="color: white;">Embark on an <span style="color: green; font-weight: bold;">enchanting</span>
          <span style="color: #FCE22A; font-weight: bold;">journey</span> where <span style="color: #FCE22A;">mathematical</span> wonders come to life. We unveil the hidden magic of the world of <span style="color: #ffc93c; font-weight: bold;">numbers.</span>
        </p>
        <br>
        <button class="get-started">Sign Up Now</button>
      </div>
    </div>
    <div class="modal-box">
      <form action="/signup" method="post">
        <span class="close-two">&times;</span>
        <h1>Create your <span style="color: #D61355;">account</span>
        </h1>
        <br>
        <div class="input-wrapper">
          <input type="text" placeholder="First name" id="input">
        </div>
        <small class="error-message"></small>
        <div class="input-wrapper">
          <input type="text" placeholder="Last name" id="input">
        </div>
        <small class="error-message"></small>
        <div class="input-wrapper">
          <input type="email" placeholder="Email" id="input">
        </div>
        <small class="error-message"></small>
        <div class="input-wrapper">
          <input type="password" placeholder="Enter password" id="input">
        </div>
        <small class="error-message"></small>
        <span>Already have an account? <a href="/login" style="color:  #D61355;">login</a>
        </span>
        <br>
        <small class="error-2"></small>
        <button type="submit" class="form-btn">Sign Up</button>
      </form>
    </div>
    <section class="sec-two">
      <div class="vid" data-aos="fade-up">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Xjzzu4ZwCe8" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="second-sec2">
        <h2 data-aos="fade-up">Give Your <span style="color: #FCE22A;">Child</span> The <span style="color: green;"> Creative</span>
          <span style="color: #D61355;"> Spark</span>
        </h2>
        <br>
        <p>Nurturing creativity in children has never been more essential. With Numberland, you can delve into the importance of creativity and explore practical ways to ignite that unique spark within your child.</p>
        <br>
        <a href="sub.html">
          <a href="/sign-up"><button class="btn-2">Get Started Today</button></a>
        </a>
      </div>
    </section>
    <section class="sec-three">
      <div class="sec-three-imgbox" data-aos="slide-down">
        <img src="/images/cartoon.png" alt="">
      </div>
      <div class="Why_us" data-aos="slide-down">
        <h2>Why Parents Love <span style="color: #D61355;">Number</span>
          <span style="color: #FCE22A;">land</span>
        </h2>
      </div>
      <div class="sec-three-boxes">
        <div class="three-boxes" data-aos="slide-up">
          <img src="/images/num-01.svg" alt="" width="20%">
          <h2>Easy to use</h2>
          <p>Every assesment is designed from with young learners in mind.Engaging in Numberland's activities with their children, parents become active participants in their educational journey. </p>
        </div>
        <div class="three-boxes" data-aos="slide-up">
          <img src="/images/num-02.svg" alt="" width="20%">
          <h2>Personalized Learning Adventures</h2>
          <p>Each child's journey in Numberland is as unique as their fingerprint. Tailored to individual learning styles and paces, Numberland ensures that every child can embark on a personalized adventure.</p>
        </div>
        <div class="three-boxes" data-aos="slide-up">
          <img src="/images/num-03.svg" alt="" width="20%">
          <h2>Transcending Fear of Mathematics</h2>
          <p>Numberland holds the key to unlocking a realm often seen as daunting – mathematics. By presenting mathematical concepts in an approachable and enjoyable manner, Numberland dispels the fear and negativity often associated with the subject.</p>
        </div>
      </div>
    </section>
    <section class="slider-sec">
      <h2 data-aos="slide-up">
        <span style="color: #D61355;">Testi</span><span style="color: #30E3DF;">mo</span><span style="color: #FCE22A;">nials</span> and Student work
      </h2>
      <div class="owl-carousel" data-aos="slide-right">
        <div class="item">
          <div class="item-img-box">
            <img src="/images/man.jpg" alt="" class="sec4-img sec4-img1 sec4-pic">
          </div>
          <br>
          <br>
          <br>
          <h3 class="item-h5">Richdon Innocent</h3>
          <p class="para-1">"As a teacher, introducing my students to Numberland has been a game-changer. They're not just learning math; they're experiencing it firsthand, The excitement in their eyes speaks a lot of positiivty."</p>
          <br>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
        <div class="item">
          <div class="item-img-box">
            <img src="/images/woman2.jpg" alt="" class="sec4-img sec4-img1 sec4-pic">
          </div>
          <br>
          <br>
          <br>
          <h3 class="item-h5">Ese Anthonia</h3>
          <p class="para-1">"Numberland isn't just about calculations; it's about unlocking the beauty of patterns and logic. My 3 year old son gained his confidence to tackle math challenges head-on."</p>
          <br>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
        <div class="item">
          <div class="item-img-box">
            <img src="/images/woman1.jpg" alt="" class="sec4-img sec4-img1 sec4-pic">
          </div>
          <br>
          <br>
          <br>
          <h3 class="item-h5">Captain Mangala</h3>
          <p class="para-1">"Introducing my kids to Numberland was the best decision. It's a magical world where math is no longer intimidating but engaging and fun. Seeing their enthusiasm for learning math warms my heart."</p>
          <br>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
        <!-- Add more slides if needed -->
      </div>
    </section>
    <section class="sec-five">
      <svg class="first-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
        <path fill="#ffff" fill-opacity="1" d="M0,224L34.3,186.7C68.6,149,137,75,206,58.7C274.3,43,343,85,411,133.3C480,181,549,235,617,245.3C685.7,256,754,224,823,176C891.4,128,960,64,1029,42.7C1097.1,21,1166,43,1234,85.3C1302.9,128,1371,192,1406,224L1440,256L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
      </svg>
      <div class="sec-five-imgbox" data-aos="fade-up">
        <img src="/images/improve2.png" alt="">
      </div>
      <div class="sec-five-div2" data-aos="fade-down" style="margin-top: 30px;">
        <p>
          <span style="color: #FCE22A; font-weight: bolder;">Inspire</span> long life <span style="color: #D61355; font-weight: bolder">learning.</span> Every <span style="color:#30E3DF;">child</span> is Unique, Learning <span style="color: black; font-weight: bolder">Path </span>should be <span style="color: #FCE22A; font-weight: bolder">too</span>
        </p>
      </div>
      <div class="vector_imgbox" data-aos="fade-up-right">
        <img src="/images/mother_and_kid.png" alt="">
      </div>
    </section>
    <svg class="first-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
      <path fill="#F94A29" fill-opacity="1" d="M0,224L34.3,186.7C68.6,149,137,75,206,58.7C274.3,43,343,85,411,133.3C480,181,549,235,617,245.3C685.7,256,754,224,823,176C891.4,128,960,64,1029,42.7C1097.1,21,1166,43,1234,85.3C1302.9,128,1371,192,1406,224L1440,256L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
    </svg>
    <section class="section-6">
      <div class="class-of-image" data-aos="zoom-in-up">
        <div class="image-box-of-five">
          <img src="/images/kid-five.jpg" alt="">
        </div>
      </div>
      <div class="section-6-container">
        <span style="color: green; font-size: 22px;" data-aos="slide-up zoom-in">Give Numberland a Spin</span>
        <br>
        <br>
        <h1 data-aos="fade-up">Ready to see why <span style="color: #FCE22A;">Lear</span><span style="color: #30E3DF;">ning</span> on <span style="color: #D61355;">Numberland</span> is right for your kid?
        </h1>
        <br>
        <a href="add.html">
          <button class="btn-6" data-aos="slide-up">Start here</button>
        </a>
      </div>
    </section>
    <footer>
      <svg class="first-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
        <path fill="#ffff" fill-opacity="1" d="M0,320L48,277.3C96,235,192,149,288,117.3C384,85,480,107,576,144C672,181,768,235,864,234.7C960,235,1056,181,1152,160C1248,139,1344,149,1392,154.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
      <div class="foot-her">
        <div data-aos="fade-in">
          <ul>
            <li>
              <h2>COMPANY</h2>
            </li>
            <a href="index.html">
              <li>Home</li>
            </a>
            <li>Story</li>
            <li>Become a tutor</li>
            <li>Press</li>
            <li>Terms and conditions</li>
          </ul>
        </div>
        <div data-aos="fade-in">
          <ul>
            <li>
              <h2>PRODUCT</h2>
            </li>
            <li>Gallery</li>
            <li>Tools</li>
            <li>Courses</li>
            <li>Cartoons</li>
          </ul>
        </div>
        <div data-aos="fade-in">
          <ul>
            <li>
              <h2>RESOURCES</h2>
            </li>
            <li>Supply list</li>
            <li>Blog</li>
            <li>Useful resources</li>
          </ul>
        </div>
        <div data-aos="fade-in">
          <ul>
            <li>
              <h2>FOLLOW US</h2>
            </li>
            <li>
              <a href="https://www.facebook.com/Neroiscute/">
                <i class="fa-brands fa-facebook" style="color:#0A2351 ;"></i>
              </a>
              <a href="https://www.twitter.com/hey__nero/">
                <i class="fa-brands fa-twitter" style="color: #1DA1F2;"></i>
              </a>
              <a href="https://www.instagram.com/hey__nero/?next=%2F">
                <i class="fa-brands fa-instagram" style="color:  #833AB4;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-end-div">
        <p style="color: white;">Copyright &copy; 2023 <a href="https://www.oghenero.dev/" style="color: #ffc93c; cursor: pointer;">Oghenero.dev</a> All right reserved </p>
      </div>
    </footer>
    <a href="#nav-top">
      <i class="fa-solid fa-jet-fighter-up"></i>
    </a>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>